
.question {
    margin-left: auto;
    margin-right: auto;
}

.option-buttons {
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    margin-top: -25px;
    margin-bottom: 25px;
}

.btn {
  margin-left: auto;
  margin-right: auto;
}

.panel, #flip {
  text-align: center;
  border: solid 1px #c3c3c3;
}

.panel {
  display: none;
  border: none;
}

.img {
    max-width: 50px;
    height: 50px;
}

body {
  padding: 80px;
  text-align: center;
}

.logo {
  height: 100px;
  margin-left: -10px;
}

.subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin-top: -10px;
  font-weight: 700;
  padding-bottom: 40px;
}

h1, h2, h3, p {
  font-family: 'Raleway', sans-serif;
}

p {
  color: white;
}

hr {
  margin-top: 30px;
  width: 800px;
  height: 3px;
  color: #A31F34;
  background-color: #A31F34;
}

.btn {
  border-radius: 0.6em;
  background-color: #A31F34;
  margin: 30px;
  width: 250px;
}

.btn:hover {
  background-color: #8A8B8C;
}

.btn:active {
  background-color: #C2C0BF;
}

.btn:visited {
  background-color: #8A8B8C;
}

.not_selected_btn {
  opacity: .4;
}

h2 {
  font-weight: 100;
}

h3 {
  margin: 0px 25%;
  color: #8A8B8C;
  font-weight: 100;
}

a {
  color: #A31F34;
}

.support {
  bottom: 0;
  font-size: 15px;
  margin:0px;
  position: inherit;
  padding-top: 50px;
}
